{% extends "base.html" %}

{% block body %}

{% load staticfiles %}

{% if perms.tickets.change_apparaat %}
<div class="ticket-form-wrapper">

    <div class="ticket-input block">
        <form class="ticket-form block" method="post">
            {% csrf_token %}
            <h3 class="full">Apparaat registratie <span id="id_klant_gegevens"></span></h3>

            <p>
                <label for="{{ form.apparaat_merk.id_for_label }}">Merk:</label>
                {{ form.apparaat_merk }}
            </p>
            <p>
                <label for="{{ form.apparaat_type.id_for_label }}">Type:</label>
                {{ form.apparaat_type }}
            </p>
            <p>
                <label for="{{ form.apparaat_accessoires.id_for_label }}">Accessoires:</label>
                {{ form.apparaat_accessoires }}
            </p>
            <p>
                <label for="{{ form.apparaat_staat.id_for_label }}">Staat:</label>
                {{ form.apparaat_staat }}
            </p>

            <input class="full primary-btn btn-medium" type='submit' value="Aanpassen" />
            <a href="{% url 'tickets:delete_apparaat' object.id %}" class="danger-btn btn-medium link-btn">Verwijderen</a>
            <input onclick="window.history.back()" class="primary-btn-inv btn-medium" type="button" value="Vorige"/>
        </form>



    </div>
</div>


{% else %}

<p>U heeft niet de juiste bevoegdheden om een ticket aan te maken :(</p>

{% endif %}

{% endblock %}